:root {
    --background-color: #fff;
    --text-color: #3c3c3c;
    --theme-color: #114499;
    --font: "Open Sans", "Roboto", sans-serif;
  }

body {
    margin: 0;
    font-family: "Open Sans", "Roboto", sans-serif;
    background: var(--background-color);
}

li {
    padding-bottom: 10px;
}

#sidebar {
    height: 100%;
    width: 25vw;
    position: fixed;
    z-index: 1;
    background-color: gray;
    overflow-x: hidden;
    color: var(--background-color);
    margin: 0 auto;
    text-align: center;
}

p {
    padding: 5%; 
}

#content {
    color: var(--text-color);
    margin-left: 25vw;
    padding: 2%;
}

#preview-title {
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
}

#preview-title a {
    text-decoration: none;
    color: var(--text-color);
}

#preview-title a:hover {
    color: gray;
}

#tag {
    display: none;
}

#preview-date {
    text-transform: uppercase;
    color: gray;
}

#preview {
    color: lightgray;
}

.post {
    margin-bottom: 5%;
}

.welcome {
    font-size: 30px;
    margin-top: 10%;
}

.logo {
    width:60%;
    padding:20px 0;
    cursor: pointer;
    transition: 1s;
}

.logo:hover {
    transform: scale(0.9) rotate3d(0,1,0, 180deg);
}

#title {
font-size: 40px;
padding-top: 20px;
}

#date {
    padding: 2% 0%;
    text-transform: uppercase;
    color: gray;
}

#body {
    font-size: 18px;
    line-height: 1.5;
}

button, .back {
    background: var(--text-color);
    border: 1px solid #3c3c3c;
    cursor: pointer;
    color: var(--background-color);
    padding: 10px;
    transition: 0.4s;
    text-decoration: none;
}


/* img {
    max-width: 20em;
} */

button:hover, .back:hover {
    background:  var(--background-color);
    border: 1px solid var(--text-color);
    color: var(--text-color)
}

#filter {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#filter a {
    text-transform: uppercase;
    transition: 0.4s;
    padding: 1%;
    margin-bottom:1%;
    cursor: pointer;
}

#filter a:hover {
    text-decoration: none;
    color:  #114499;
}


#filter a.active {
    color: var(--text-color);
    background: var(--background-color);
    transition: 0.4s;
}

#theme-toggle {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


@media screen and (max-width: 750px) {
    #sidebar { 
        position: relative;
        height: auto;
        width: 100%;
        padding:0;
    }

    .logo {
        width: 100px;
    }

    #content {
        margin-left: 0;
        padding: 3%;
    }

    #filter {
        display: inline;
        word-spacing: 15px;
    }

    /* img {
        max-width: 15em;
    } */
}